[COTOHA API]
Developer API Base URL: https://api.ce-cotoha.com/api/dev/nlp/
Developer Client id: [id]
Developer Client secret: [secret]
Access Token Publish URL: https://api.ce-cotoha.com/v1/oauth/accesstokens