{% extends "layout.html" %} {% block content %}
<div class="container">
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand" id="subtitle">青空文庫朗読 bot</span>
    <form class="form-inline">
      <!-- <div class="btn-group">
        <button type="button" class="btn btn-outline-dark my-2" id="action">
          Action
        </button>
        <button
          type="button"
          class="btn btn-outline-dark my-2 dropdown-toggle dropdown-toggle-split"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" id="parse">構文解析</button></li>
          <li>
            <button class="dropdown-item" id="keyword">キーワード抽出</button>
          </li>
          <li>
            <button class="dropdown-item" id="user_attribute">
              ユーザ属性推定
            </button>
          </li>
        </ul>
      </div> -->
      <ul class="report">
        <li><span>レポート1</span></li>
        <li><span>レポート2</span></li>
        <li><span>レポート3</span></li>
        <li><span>レポート4</span></li>
      </ul>

      <a class="switch-btn"><span id="btn-inner">▲ 閉じる</span></a>
    </form>
  </nav>
  <div class="row">
    <div class="col mx-2 my-2" id="document" style="font-size: 100%">
      Press the Start button
    </div>
  </div>
  <div class="row">
    <div class="col mx-2" id="result" style="font-size: 70%"></div>
  </div>
</div>
{% endblock %}
