<!doctype html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/jquery-3.3.1.min.js"></script>
  <script>
    var url = 'https://dazai-cotoha.herokuapp.com/get_text';
    var reading = false;
    var line_number = 0;
    var instruction_text = "";
    var brand_text = "";

    function getDot() {
      $.ajax({
        url: url,
        dataType: 'JSON',
        type: 'POST',
        data: {
          'line_number': line_number
        }
      }).done(function (data) {
        if (reading) {
          $("#genshijin").text(data.genshijin);
          $("#utsusemi").text(data.utsusemi)
          line_number = data.next_line_number;
          if (line_number != 0) {
            setTimeout(getDot, data.text_length * 200);
          } else {
            setTimeout(stopReading, data.text_length * 200);
          }
        }
      });
    }

    function startReading() {
      $("button").text("ロウドク　ヤメ");
      reading = true;
    }

    function resumeReading() {
      $("button").text("ロウドク　ハジメ");
      reading = false;
    }

    function stopReading() {
      resumeReading();
      $("#genshijin").text(instruction_text);
      $("#utsusemi").text("")
    }
  </script>
  <script>
    $(function () {
      $("button").click(function () {
        if (reading) {
          resumeReading();
        } else {
          getDot();
          startReading();
        }
        return false;
      });
    });

    $(function () {
      instruction_text = $("#genshijin").text();
    });
  </script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <title>ゲンシジン ヨ ム ダザイ</title>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand" id="subtitle">ゲンシジン ヨ ム ダザイ</span>
      <form class="form-inline">
        <button class="btn btn-outline-dark my-2" type="submit">ロウドク　ハジメ</button>
      </form>
    </nav>
    <div class="row">
      <div class="col mx-2 my-2" id="genshijin" style="font-size: 100%">ロウドク ハジメ オ シ テ クダサ イ</div>
    </div>
    <div class="row">
      <div class="col mx-2" id="utsusemi" style="font-size: 70%"></div>
    </div>
  </div>
</body>

</html>